<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devsk.jobpf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="JobPF"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityJob"
            android:label="JobPF"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivityJob"
            android:label="Вакансия" />
        <activity
            android:name=".Main2Activity"
            android:label="Новость"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsActivity"
            android:label="Новости" />
        <activity
            android:name=".BrowserActivity"
            android:label="Новость" />
        .
        <activity
            android:name=".CompanyListActivity"
            android:label="Компании" />
        <activity android:name=".DetailsCompanyActivity"></activity>
    </application>

</manifest>